/* Add CSS styling here */
body{
    margin: 0 auto;
    padding: 0;
    background-color: none;
    font: 62.5%;
    
}



.name {
    font-size: 3vw;
    font-family:'Anton', sans-serif;
    color:#425d5a;

}

nav{
    display: flex;
    justify-content: flex-end; 
    padding: 0%;
    align-items: center;
    padding: 1%;
    /* background-color: purple; */
    

}

.nav div{
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    width: 100%;
  
}

nav > button {
    border: none;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    margin: 1% .2%;
    height:4vh;
    width: 20%;
    font-size: .7vw;
    text-shadow: 3px 1px 10px gold;
    color: #565680;
    background-image: linear-gradient(to bottom,#dfc24a,#2b794e);
}

h2{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: #990000;
}

section{
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.intro{
    text-align: center;
    padding: 0% 5%;
}

.projects{
    display: flex;
    flex-direction: column;

   
}
    

.websitePreview{
    background-color: coral;
    height: 40vh;
    width: 80%;
    margin: auto;
    margin-bottom: 1%;
}

.sites{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin-bottom: 1%;


}

.sites > div{
    margin-bottom: 1%;
    height: 25vh;
    width: 30%;


}

.contact{
    display: flex;
    justify-content: center;
    height: 8vh;
}

.contact button{
    border: none;
    font-family: 'Press Start 2P', cursive;
    border-radius: 5px;
    height: 5vh;    
    margin-top: .5%;
    width: 20%;
    font-size: 1vw;
    text-shadow: 3px 1px 10px gold;
    color: #565680;
    background-image: linear-gradient(to bottom,#dfc24a,#2b794e);
}

button:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom,#2b794e,#dfc24a);
    color: yellow;
    transition-duration: .5s;
}

@media (max-width: 800px){
    .nav div {
        justify-content: center;
        font-size: 10vw;
    
    }

    nav{
        flex-flow: column;
        margin-bottom: 2%;        
    }

    nav > button{
        font-size: 2vw;
        width: 30%;
        margin: .5% auto;

    }
    .websitePreview{
        width: 90%;
    }

    .sites > div{
        width: 45%;
        margin: 1% 0%;
        cursor: pointer;

    }

    .contact button{
        width: 60%;
        font-size: 1.8vw;
    }

}

@media (max-width: 500px){

    nav > button{
        width: 35%;
        font-size: 3vw;
    }

    .websitePreview{
        width: 90%;
        height: 30vh;
    }

    .sites > div{
        height: 15vh;
        width: 45%;
    }

    .contact button{
        width: 60%;
    }

}